* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 2rem;

  .header {
    text-align: center;
    padding: 0.6rem;
  }
}

.button {
  position: relative;
  margin: 0.2rem;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
}

.label {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  transition: visibility 0s ease-in-out;
  font-size: 12px;
  z-index: 1;
}

.button:hover .label {
  visibility: visible;
}

.item-container {
  margin: 1rem;
  cursor: pointer;
  width: fit-content;
  position: relative;
  .title {
    margin-left: 0.4rem;
  }

  .popup-container {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 100%;
    z-index: 2;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title-detail {
    display: flex;
  }

  .title-menu {
    margin-left: 1rem;
    display: flex;
  }
}

.button-container {
  margin-top: 0.4rem;
}

.text-input {
  padding: 0.6rem;
  border-radius: 10px;
}

.color-input {
  margin: 0.4rem;
}

.text-input:focus {
  outline-color: #333;
}

.content-container {
  display: flex;
  align-items: flex-start;
}

.explorer {
  margin-left: 2rem;

  .folder-icon {
    margin: 1.2rem;
    padding: 1rem;
  }

  .folder-grid {
    display: flex;
  }
}
